<!doctype html>
<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

      <!-- Icons -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

      <!-- Favicon -->
      <link rel="shortcut icon" type="image/png" href="img/penkalo.png"/>

   </head>
    <body>
    <div class="container">
        <br/><br/>
        <h2>Hvala na porudzbini!</h2>
        <h2>Racun je poslat na Vas e-mail: {{ email }}</h2>
        <br/><br/>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Povratak na sajt</a>
    </div>
    </body>
</html>
