<!doctype html>
<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

      <!-- Icons -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

      <!-- Favicon -->
      <link rel="shortcut icon" type="image/png" href="../img/penkalo.png"/>

   </head>
    <body id="page-top">
        <header class="masthead text-center text-black d-flex">
            <div class="container my-auto">
                    <br/><br/>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                           
                          <img src="../assets/img/logo.png" alt="Grap logo" style="width:100%">
                        </h1>
                        <br/><br/>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-12 mx-auto">
						<h2>Hvala na porudzbini!</h2>
                        <h2>Racun je poslat na Vas e-mail: {{ email }}</h2>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Povratak na sajt</a>
                    </div>
                </div>
            </div>
        </header>

    </body>
</html>
